.posts{
    flex: 9;
    display: grid;
    grid-template-columns: 1fr ;
    margin: 20px;
}

@media(min-width:768px){
    .posts{
        grid-template-columns: repeat(2,1fr);
        gap:1px;
    }
}